<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>group</key>
		<array>
			<dict>
				<key>image</key>
				<string>BookIcon1</string>
				<key>title</key>
				<string>我的收藏</string>
			</dict>
			<dict>
				<key>image</key>
				<string>BookIcon1</string>
				<key>title</key>
				<string>清除缓存</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<array>
			<dict>
				<key>image</key>
				<string>BookIcon1</string>
				<key>title</key>
				<string>检查更新</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<array>
			<dict>
				<key>image</key>
				<string>BookIcon1</string>
				<key>title</key>
				<string>新功能介绍</string>
			</dict>
			<dict>
				<key>image</key>
				<string>BookIcon1</string>
				<key>title</key>
				<string>意见反馈</string>
			</dict>
			<dict>
				<key>image</key>
				<string>BookIcon1</string>
				<key>title</key>
				<string>免责声明</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group</key>
		<array>
			<dict>
				<key>image</key>
				<string>BookIcon1</string>
				<key>title</key>
				<string>为我评价</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
